---
bg: "tag.jpg"
layout: default
crawlertitle: "Impressum"
title: "Impressum"
summary: "Verwantwortlicher für den Inhalt"
---

<p>
  Grüß Gott Herr Maiwald!<br>
  <small>(Sie sind nicht Herr Maiwald? Auch nicht schlimm)</small>
</p>

<h2>Angaben gemäß § 5 TMG:</h2>
<p>
    xolf UG (haftungsbeschränkt)<br>
    Forstenrieder Weg 1g<br>
    82065 Baierbrunn<br>
    <br>
    Vertreten durch durch den Geschäftsführer: Florian Theimer
</p>

<h2>Registereintrag</h2>
<p>
    Registergericht: Handelsregister B München<br>
    Registernummer: HRB 225495
</p>

<h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
<p>
  Florian Theimer<br>
  <br>
  xolf UG (haftungsbeschränkt)<br>
  Forstenrieder Weg 1g<br>
  82065 Baierbrunn
</p>

<h2>Quellenangaben für die verwendeten Bilder, Grafiken und Animationen:</h2>
<ul>
  <li><a href="https://burst.shopify.de" target="blank">burst.shopify.de</a></li>
</ul>
