---
bg: "pint.jpg"
layout: default
crawlertitle: "Bürgerbräu Baierbrunn"
title: "Bürgerbräu Baierbrunn"
summary: "Startseite"
---

{% for post in site.posts limit: 5 %}
  <article class="index-page">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
  </article>
{% endfor %}
