<footer class="blog-footer content-wrapper">
  <p>&copy; <span class="full-year"></span> {{ site.title }} - <a href="{{ site.baseurl }}/impressum">Impressum</a></p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
